

body {
    background-color: black;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    display: inline;
    margin: 0 auto;
    text-align: center;

}

.main-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffa502;
  margin: 10px;
}

.dropdown {
    background-color: white;
}

.navbar {
    background-color: black;
}

.logo {
    height: 30px;
    padding-left: 7px;
    margin-top: 8px;
}

.input {
    background-color: white;
    margin: 10px;
}

.card {
    background-color: black;
    box-shadow: none;
}

.columns {
    margin: 0;
}

@media only screen and (min-width: 769px) {
.main {
      margin-top: 30px;
    }

.movie-cards {
    margin-top: 30px;

    }
  }