* {
    color: rgb(156, 156, 156);
}

#name {
    color: orange;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.navbar {
    background-color: black;
}

#posterimg {
    background-color: black;
}

body {
    background-color: black;
}

.logo {
    height: 30px;
    padding-left: 7px;
    margin-top: 8px;
}

.card {
    background-color: black;
    box-shadow: none;
}

.card-header-title {
    color: rgb(156, 156, 156);
    
}

#filmtitle {
    color: rgb(156, 156, 156);  
}

#runtime {
    color: rgb(156, 156, 156);
}

#button1 {
    margin: 10px;
}


/* #button2 {
    margin-left: 10px;
    margin-top: 10px;

} */

/* #button3 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;

} */

#ratingbox {
    margin: 10px;
    
}